*, *:before, *:after {
	box-sizing: border-box;
}

#bcash .forma-pagamento {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: 8px 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

#bcash .forma-pagamento ul {
	list-style: none;
	padding-left: 0px;
	margin-left: -5px;
}

#bcash .forma-pagamento li {
	display: inline-block;
	height: 42px;
	padding: 10px 5px;
}

#bcash .forma-pagamento .bcash-termos {
	display: none;
}

#bcash .forma-pagamento .bcash-termos a {
	color: #1b88d4;
}

#bcash .forma-pagamento .bcash-termos a:hover {
	background-color: #3788CC;
    color: #FFFFFF;
    text-decoration: none;
}

#bcash .bandeira input[type='radio'] {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1 !important;
	float: left !important;
	clear: both !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 0px !important;
	height: 0px !important;
	opacity: 0;
}

#bcash .bandeira {
	display: inline-block;
	background: url(../images/application-sprite.png) no-repeat;
	width: 70px;
	height: 46px;
	text-indent: -9999px;
	cursor: pointer;
}

/* visa */
#bcash .band-1 {
	background-position: 0 -177px
}

#bcash .band-1:hover {
	border: none;
	background-position: -74px -177px
}

#bcash .forma-pagamento .band-1.checked {
	background-position: -150px -177px;
}

#bcash .forma-pagamento .band-1.checked {
	background-position: -150px -177px;
}

/* master */
#bcash .band-2 {
	background-position: 0 -226px
}

#bcash .band-2:hover {
	border: none;
	background-position: -74px -226px
}

#bcash .forma-pagamento .band-2.checked {
	background-position: -150px -226px;
}

/* amex */
#bcash .band-37 {
	background-position: 0 -274px
}

#bcash .band-37:hover {
	border: none;
	background-position: -74px -274px
}

#bcash .forma-pagamento .band-37.checked {
	background-position: -150px -274px
}

/* aura */
#bcash .band-45 {
	background-position: 0 -323px
}

#bcash .band-45:hover {
	border: none;
	background-position: -74px -323px
}

#bcash .forma-pagamento .band-45.checked {
	background-position: -150px -323px
}

/* diners */
#bcash .band-55 {
	background-position: 0 -371px
}

#bcash .band-55:hover {
	border: none;
	background-position: -74px -371px
}

#bcash .forma-pagamento .band-55.checked {
	background-position: -150px -371px
}

/* hiper */
#bcash .band-56 {
	background-position: 0 -420px
}

#bcash .band-56:hover {
	border: none;
	background-position: -74px -420px
}

#bcash .forma-pagamento .band-56.checked {
	background-position: -150px -420px
}

/* elo */
#bcash .band-63 {
	background-position: 0 -468px
}

#bcash .band-63:hover {
	border: none;
	background-position: -74px -468px
}

#bcash .forma-pagamento .band-63.checked {
	background-position: -150px -468px
}

/* boleto */
#bcash .band-10 {
	background-position: 0 -517px
}

#bcash .band-10:hover {
	border: none;
	background-position: -74px -517px
}

#bcash .forma-pagamento .band-10.checked {
	background-position: -150px -517px
}

/* bb */
#bcash .band-58 {
	background-position: 0 -565px
}

#bcash .band-58:hover {
	border: none;
	background-position: -74px -565px
}

#bcash .forma-pagamento .band-58.checked {
	background-position: -150px -565px
}

/* bradesco */
#bcash .band-59 {
	background-position: 0 -614px
}

#bcash .band-59:hover {
	border: none;
	background-position: -74px -614px
}

#bcash .forma-pagamento .band-59.checked {
	background-position: -150px -614px
}

/* itau */
#bcash .band-60 {
	background-position: 0 -662px
}

#bcash .band-60:hover {
	border: none;
	background-position: -74px -662px
}

#bcash .forma-pagamento .band-60.checked {
	background-position: -150px -662px
}

/* hsbc */
#bcash .band-62 {
	background-position: 0 -759px
}

#bcash .band-62:hover {
	border: none;
	background-position: -74px -759px
}

#bcash .forma-pagamento .band-62.checked {
	background-position: -150px -759px
}

/* banrisul*/
#bcash .band-61 {
	background-position: 0 -711px
}

#bcash .band-61:hover {
	border: none;
	background-position: -74px -711px
}

#bcash .forma-pagamento .band-61.checked {
	background-position: -150px -711px
}

/*FORM*/
#bcash form {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#bcash form label {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#bcash form input[type="text"], #bcash form select, #bcash form textarea {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 5px;
}

#bcash .b-form-horizontal .b-form-group {
	margin-bottom: 15px;
	margin-top: 10px;
}

#bcash .b-form-horizontal label {
	margin-bottom: 5px;
	display: block;
}

#bcash .b-form-horizontal input {
	display: inline;
}

#bcash input.b-button {
	border: 0;
	padding: 15px 15px;
	border-radius: 2px;
	min-width: 90px;
}

#bcash input.b-button-sucess {
	background-color: #76b759;
	color: #fff;
	font-size: 16px;
	display: none;
	margin-bottom: 15px;
}

#bcash input.b-button-sucess:hover {
	background-color: #5e9a43;
}
/*PARCELAS*/
#bcash .installment-option {
	margin-right: 15px;
}

#bcash .installment-option span {
	font-size: 12px;
}

#bcash .installment-option span span {
	font-size: 14px;
	color: #1b88d4;
}

#bcash .card-installments {
	overflow: hidden;
	margin-bottom: 15px;
}

#bcash .coluna-com-6 {
	float: left;
}

/*AMOUNTS*/
#bcash .b-amount {
	font-size: 22px;
	color: #333;
	font-weight: bold;
	margin-bottom: 15px;
}

.box-error {
  background: #A9211F;
  border-bottom: 2px solid #831A18;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.box-error .title {
  margin: 0 0 15px;
  font-weight: normal;
}

.box-error ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/*payment_option_erro.tpl*/
.payment-message {
  font-family: Arial;
  padding: 10px;
  background: #e3e3e3;
  border: 1px solid #cacaca;
}

.payment-message-warning {
  background: #FFEDC1;
  border: 1px solid #EFE2C1;
}

.payment-message-warning .text {
  color: #7C5F24;
}

.payment-message .text {
  font-size: 16px;
  margin-right: 20px;
}

.b-button-blue {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 14px 20px;
  background: #7CA9D4;
  border-radius: 3px;
  color: #fff;
}

.b-button-blue:hover {
  background: #5699DA;
}

