*, *:before, *:after {
	box-sizing: border-box;
}

#bcash .b-panel {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 0,#fff 0 0 0 3px inset;
    box-shadow: rgba(0,0,0,0.1) 0 2px 0,#fff 0 0 0 3px inset;
}

#bcash .b-panel .b-panel-heading {
    border: none;
    text-transform: uppercase;
    border-bottom: solid 1px #eee;
    padding: 5px 5px 10px 5px;
    margin: -20px -16px 15px -16px;
}

#bcash .b-panel .b-panel-heading img {
    width: 40px;
    height: 50.5px;
    margin-right: 15px;
    margin-left: 5px;
}

#bcash .b-panel .b-panel-heading span {
	font-size: 1.1em;
	font-weight: 700;
	vertical-align: middle;
}

#bcash .b-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 10px;
}

#bcash .b-table caption {
    color: #000;
    padding: 1em 0;
    text-align: center;
}

#bcash .b-table td,
#bcash .b-table th {
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
#bcash .b-table td:first-child,
#bcash .b-table th:first-child {
    border-left-width: 0;
}

#bcash .b-table thead {
    color: #000;
    text-align: left;
    font-weight: normal;
    vertical-align: bottom;
    border-bottom: solid 1px #00aff0;
    text-transform: uppercase;
}

#bcash .b-button {
	border: 0px;
	border-radius: 4px;
	font-family: inherit;
	text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    padding: .5em 1em;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    margin-top: 5px;
}

#bcash .b-button-danger {
	background: rgb(202, 60, 60);
}

#bcash .b-button-sucess {
	background: rgb(28, 184, 65);
}

#bcash .b-button:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

#bcash .confirme {
	display: block;
	margin-top: 10px;
	padding-left: 10px;
	display: none;
}

#bcash .confirme span {
	display: block;
	font-weight: bold;
	margin-top: 10px;
	color: #FF0000;	
}

#bcash .confirme .b-button {
	width: 80px;
}

#bcash .confirme .atencao {
	text-transform: uppercase;
}

.block-load {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #000;
	opacity: 0.3;
	display: none;
}

.box-return {
	display: none;
	margin-top: 15px;
	border-bottom: 2px solid #831A18;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.box-return .title {
	margin: 0 0 15px;
	font-weight: normal;
}

.box-return span {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.box-error {
	background: #A9211F;
}

.box-sucess {
	background: rgb(28, 184, 65);
}
